{% extends "partials/content.html" %}
{% block content %}
<div class="home-content">
    <div class="row home-content__main">
        <h1>Weekly Records</h1>
        <h2 style="margin-top:0;">A service that sends you a new record, weekly.</h2>
        <div class="buttons-container">
            <button onclick="location.href='/sign/in'" type="button" class="sign-in-button">Sign In</button>
                <button onclick="location.href='/sign/up'" type="button" class="sign-up-button">Sign Up</button>
        </div>
    </div>
</div>
{% endblock %}