<header class="s-header">
    <div class="header-logo">
        <a class="site-logo" href="{{ url_for('.home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
    </div>

    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        <div class="header-nav__content">
            <h3>MENU</h3>
            <ul class="header-nav__list">
                {% for item in sidebar %}
                {% if item.http == true %}
                <li><a class="" href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% else %}
                <li><a class="" href="{{ url_for(item.link) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <br>
            <p>
                Made with ❤️ by a college student in Pullman, Washington. If you want more, head over to
                <a href="https://github.com/poiley/">Github</a>.
            </p>
        </div>
    </nav>
    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>
</header>